.featured-products {
  position: relative;

  display: flex;
  justify-content: center;
  padding-top: 27px;
  padding-bottom: 42px;

  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position-x: right;
  background-position-y: bottom;
  background-size: auto 7px;
}

@media (min-width: 768px) {
  .featured-products {
    padding-bottom: 65px;

    background-size: auto 15px;
  }
}

@media (min-width: 1150px) {
  .featured-products {
    padding-bottom: 95px;

    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 1050px 23px;
  }
}
