.featured-products {
  position: relative;

  display: flex;
  justify-content: center;
  padding-top: 27px;
  padding-bottom: 42px;
}

.featured-products__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 6px;

  background-image: url("/img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-size: contain;
}

@media (min-width: 768px) {
  .featured-products {
    padding-bottom: 65px;
  }

  .featured-products__item::after {
    left: 50%;

    max-width: 768px;
    height: 15px;

    transform: translateX(-50%);
  }
}

@media (min-width: 1150px) {
  .featured-products {
    padding-bottom: 90px;
  }

  .featured-products__item::after {
    max-width: 1050px;
    height: 25px;
  }
}
