.logo-link {
  fill: $text-dark;

  &[href]:hover,
  &:focus {
    fill: $text-hover-color;
  }

  &:active {
    fill: $text-down-color;
  }

  &--mobile {
    margin: 12px auto;
    margin-bottom: 6px;
    padding: 10px;
    width: 100%;
    max-width: 86px;
  }
}

@media (min-width: 768px) {
  .logo-link {
    &--mobile {
      display: none;
    }

    &--wrapper {
      margin-left: 40px;
      margin-top: 12px;
      margin-right: 198px;
      margin-bottom: 4px;
      padding: 10px;
    }
  }

  .logo-link__img--desktop {
    display: none;
  }
}

@media (min-width: 1150px) {
  .logo-link {
    padding: 5px;
    &--wrapper {
      margin-top: 5px;
      margin-left: 61px;
      margin-right: 96px;
      margin-bottom: 0;
    }
  }

  .logo-link__img {
    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}
