.main-nav__toggle {
  display: none;
  position: absolute;
  border: none;
  background-color: transparent;
  background-position: center center;
  background-size: cover;
}

.main-nav__toggle--mobile {
  display: block;
}

.main-nav__toggle--open {
  top: 32px;
  right: 31px;
  width: 20px;
  height: 14px;
  background-image: url("../../img/icon-menu-open.svg");
}

.main-nav__toggle--close {
  top: 29px;
  right: 30px;
  width: 21px;
  height: 20px;
  background-image: url("../../img/icon-menu-close.svg");
}

.main-nav__wrapper {
  display: flex;
}

.main-nav__wrapper--mobile {
  flex-direction: column;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
