.main-nav__toggle {
  position: absolute;

  display: none;

  background-color: transparent;
  background-position: center center;
  background-size: cover;
  border: none;

  &--mobile {
    display: block;
  }

  &--open {
    top: 32px;
    right: 31px;

    width: 20px;
    height: 14px;

    background-image: url("../../img/icon-menu-open.svg");
  }

  &--close {
    top: 29px;
    right: 30px;

    width: 21px;
    height: 20px;

    background-image: url("../../img/icon-menu-close.svg");
  }
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;

  &--toggle {
    display: none;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
}

.main-nav__item {
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;

  &--logo {
    display: none;
  }
}

.main-nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 28px;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $text-dark;

  fill: $icon-color;

  &:hover,
  &:focus {
    color: $text-hover-color;

    fill: $green-color;
  }

  &:active {
    color: $text-down-color;

    fill: $icon-down-color;
  }
}

.main-nav__link-wrapper {
  position: relative;

  width: 185px;
  padding-left: 14px;

  text-align: left;
}

.main-nav__icon {
  position: absolute;
  top: 4px;

  &--search {
    left: -28px;

    width: 18px;
    height: 18px;
  }

  &--cart {
    left: -30px;

    width: 21px;
    height: 18px;
  }
}

@media (min-width: 768px) {
  .main-nav__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .main-nav__item {
    display: flex;
    box-shadow: none;

    &--logo {
      display: flex;
      order: 1;
    }

    &--catalog {
      order: 4;
    }

    &--scaffolding {
      order: 5;
    }

    &--search {
      order: 2;
      box-shadow: 1px 0 0 red, inset 1px 0 0 red;
      padding-left: 23px;
      padding-right: 21px;
      padding-top: 26px;
      padding-bottom: 23px;
    }

    &--cart {
      order: 3;
    }
  }

  .main-nav__link {
    padding: 0;
  }

  .main-nav__link-wrapper {
    width: auto;
    display: flex;
    align-items: center;

    &--search {
      padding: 10px;
    }
  }

  .main-nav__text--search {
    display: none;
  }

  .main-nav__icon {
    position: static;

    &--cart {
      padding-right: 31px;
    }
  }
}
