.main-table {
  border-collapse: collapse;
}

.main-table__value {
  padding-left: 30px;
}

.main-table__value,
.main-table__field {
  padding-top: 7px;
  padding-bottom: 8px;
}

@media (min-width: 1150px) {
  .main-table__value {
    padding-right: 60px;
  }

  .main-table__value,
  .main-table__field {
    padding-top: 7px;
    padding-bottom: 8px;
  }
}
