.main-nav__toggle {
  display: none;
  position: absolute;
  border: none;
  background-color: transparent;
  background-position: center center;
  background-size: cover;
}

.main-nav__toggle--mobile {
  display: block;
}

.main-nav__toggle--open {
  top: 32px;
  right: 31px;
  width: 20px;
  height: 14px;
  background-image: url("../../img/icon-menu-open.svg");
}

.main-nav__toggle--close {
  top: 29px;
  right: 30px;
  width: 21px;
  height: 20px;
  background-image: url("../../img/icon-menu-close.svg");
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;
}

.main-nav__wrapper--toggle {
  display: none;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
}

.main-nav__item--mobile {
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}

.main-nav__link {
  display: flex;
  padding-top: 27px;
  padding-bottom: 28px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $text-dark;
  fill: $text-dark;
  width: 100%;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
    color: $text-hover-color;
    fill: $green-color;
  }

  &:active {
    color: $text-down-color;
    fill: $icon-down-color;
  }
}

.main-nav__link-wrapper {
  position: relative;
  width: 185px;
  padding-left: 14px;
  text-align: left;
}

.main-nav__icon {
  position: absolute;
  top: 4px;
}

.main-nav__icon--search {
  left: -28px;
  width: 18px;
  height: 18px;
}

.main-nav__icon--cart {
  left: -30px;
  width: 21px;
  height: 18px;
}
