.main-table {
  border-collapse: collapse;
}

.main-table__value {
  padding-left: 30px;
  padding-right: 30px;
}

.main-table__value,
.main-table__field {
  padding-bottom: 8px;
  padding-top: 7px;
}
