.page-nav {
  width: 100%;
}

.page-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-nav__item {
  width: 100%;

  &--interior {
    background-color: $green-color;
  }

  &--interior:hover,
  &--interior:focus,
  &--interior:active {
    background-color: #59d5bc;
  }

  &--toy {
    background-color: #56c3b2;
  }

  &--toy:hover,
  &--toy:focus,
  &--toy:active {
    background-color: #46c1ae;
  }

  &:hover,
  &:focus {
    margin-top: -5px;
    padding-top: 5px;
  }
}

.page-nav__link {
  position: relative;

  display: flex;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 27px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  color: $text-light;

  &:hover {
    padding-top: 20px;
    padding-bottom: 35px;
  }

  &:hover.page-nav__link::after,
  &:focus .page-nav__link::after {
    opacity: 0.7;
  }

  &:hover.page-nav__link--interior::after,
  &:focus .page-nav__link--interior::after {
    top: 18px;
  }

  &:hover.page-nav__link--toy::after,
  &:focus .page-nav__link--toy::after {
    top: 18px;
  }

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";
    position: absolute;

    opacity: 0.5;
  }

  &--interior::after {
    top: 23px;
    right: 34px;

    width: 40px;
    height: 62px;

    background-image: url("../img/icon-interior.svg");
    background-position: center center;
  }

  &--toy::after {
    top: 22px;
    right: 24px;

    width: 60px;
    height: 60px;

    background-image: url("../img/icon-toy.svg");
    background-position: center center;
  }
}

@media (min-width: 768px) {
  .page-nav {
    position: relative;

    width: auto;

    background-color: #f8f8f8;

    &::after {
      content: "";
      position: absolute;
      bottom: -14px;
      left: 0;

      width: 100%;
      height: 25px;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-size: contain;
    }
  }

  .page-nav__list {
    flex-direction: row;
    max-width: 768px;
    margin: 0 auto;
    padding-right: 50px;
    padding-left: 50px;
  }

  .page-nav__link {
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 28px;
    padding-left: 35px;

    line-height: 30px;

    &--interior::after {
      top: 30px;
      right: 36px;
    }

    &--toy::after {
      top: 32px;
      right: 36px;
    }
  }
}

@media (min-width: 1150px) {
  .page-nav::after {
    bottom: -12px;

    height: 34px;
  }

  .page-nav__list {
    max-width: 1150px;
  }

  .page-nav__link {
    padding-top: 27px;
    padding-bottom: 36px;
    padding-left: 36px;
  }
}
