.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo-link {
  display: flex;
  margin: 22px auto;
  fill: $text-black;

  &:hover,
  &:focus {
    fill: $text-hover-color;
  }

  &:active {
    fill: $text-down-color;
  }
}
