.page-nav {
  width: 100%;
}

.page-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-nav__item {
  width: 100%;
}

.page-nav__item--interior {
  background-color: $green-color;
}

.page-nav__item--interior:hover,
.page-nav__item--interior:focus,
.page-nav__item--interior:active {
  background-color: #59d5bc;
}

.page-nav__item--toy {
  background-color: #56c3b2;
}

.page-nav__item--toy:hover,
.page-nav__item--toy:focus,
.page-nav__item--toy:active {
  background-color: #46c1ae;
}

.page-nav__link {
  position: relative;

  display: flex;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 27px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  color: $text-light;

  &:hover.page-nav__link::after,
  &:focus .page-nav__link::after {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-nav__link::after {
  content: "";
  position: absolute;

  opacity: 0.5;
}

.page-nav__link--interior::after {
  top: 23px;
  right: 34px;

  width: 40px;
  height: 62px;

  background-image: url("../../img/icon-interior.svg");
  background-position: center center;
}

.page-nav__link--toy::after {
  top: 22px;
  right: 24px;

  width: 60px;
  height: 60px;

  background-image: url("../../img/icon-toy.svg");
  background-position: center center;
}

@media (min-width: 768px) {
  .page-nav {
    position: relative;

    width: auto;

    background-color: #f8f8f8;

    &__list {
      flex-direction: row;
      max-width: 768px;
      margin: 0 auto;
      padding-right: 50px;
      padding-left: 50px;
    }

    &__item {
      padding-top: 10px;
      padding-bottom: 8px;
      padding-left: 15px;
    }

    &__link {
      padding: 20px;

      line-height: 30px;

      &--interior::after {
        top: 21px;
        right: 36px;
      }

      &--toy::after {
        right: 36px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -14px;
      left: 0;

      width: 100%;
      height: 25px;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-size: contain;
    }
  }
}

@media (min-width: 1150px) {
  .page-nav {
    &__list {
      max-width: 1150px;
    }

    &__link {
      padding-top: 15px;
      padding-bottom: 30px;
      padding-left: 20px;
    }

    &::after {
      bottom: -12px;

      height: 34px;
    }
  }
}
