.page-footer {
  padding-bottom: 25px;

  text-align: center;

  background-color: #f1f1f1;
}

.page-footer__logo {
  display: none;

  &[href]:hover,
  &:focus {
    fill: #46c1ae;
  }

  &:active {
    fill: #46c1ae;
    opacity: 0.3;
  }
}

.page-footer__social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;

  border-bottom: 1px solid #e5e5e5;
}

.page-footer__social-item {
  padding: 10px;
  margin-right: 6px;
  margin-left: 6px;
}

.page-footer__social-link {
  display: flex;
  padding: 5px;

  fill: #221f1f;

  &:hover,
  &:focus {
    fill: #46c1ae;
  }

  &:active {
    fill: rgba(#46c1ae, 0.3);
  }
}

.page-footer__copyright {
  display: inline-flex;
  align-items: center;
  margin-top: 15px;
  margin-right: 34px;
  margin-left: 34px;
  padding: 5px;

  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: $text-dark;

  fill: $green-color;

  &:hover,
  &:focus {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;

    fill: #46c1ae;
  }
}

.page-footer__copyright-logo {
  padding-top: 3px;
  padding-left: 28px;
}

@media (min-width: 768px) {
  .page-footer{
    margin-top: 17px;
    padding-top: 32px;

    &__wrapper {
      display: flex;
      align-items: center;
      box-sizing: border-box;
    }

    &__logo {
      display: block;
      margin-right: 139px;
    }

    &__social-list {
      border-bottom: none;
      padding-top: 12px;
      margin-right:54px;
    }

    &__copyright {
      margin: 0;
    }
  }
}

@media (min-width: 1150px) {
  .page-footer {
    margin-top: 63px;

    &__logo {
      margin-left: -5px;
      margin-right: 325px;
    }

    &__social-list {
      margin-right: 244px;
    }
  }
}
