.product-card__mark {
  display: block;
  margin-top: 5px;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: $green-color;
  text-transform: uppercase;
}

.product-card__content {
  display: flex;
  flex-direction: column;
  padding-top: 23px;
}

.product-card__image--catalog-page {
  width: 260px;
  height: 195px;
}

.product-card__description--catalog-page {
  margin-top: 6px;
  padding-bottom: 19px;

  font-size: 13px;
  line-height: 30px;
}

.product-card__property {
  margin-top: 18px;
  margin-bottom: 28px;
}

.product-card__wrapper {
  position: relative;

  padding-top: 25px;
  padding-right: 28px;
  padding-left: 28px;

  border: 1px solid $border-grey;
}

.product-card__divider {
  border-bottom: 1px solid $border-grey;
}

.product-card__img {
  &--tablet {
    display: none;
  }

  &--desktop {
    display: none;
  }
}

.product-card__cost {
  margin-top: 18px;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: $black-soft-color;

  &--catalog-page {
    margin: 0;
    margin-top: 21px;
    margin-bottom: 27px;

    font-size: 15px;
    text-align: left;
    color: $text-dark;
  }
}

.product-card__button {
  margin-top: 25px;
  align-self: center;
  padding-left: 83px;
  padding-right: 83px;

  &--cataloge-page {
    position: absolute;
    right: 21px;
    bottom: 21px;

    margin: 0;
    padding: 5px;

    background-color: transparent;
    border: none;
    cursor: pointer;

    fill: rgba($text-dark, 0.2);
  }

  &--cataloge-page:hover,
  &--cataloge-page:focus {
    fill: $green-color;
  }

  &--cataloge-page:active {
    fill: rgba($green-color, 0.3);
  }
}

@media (min-width: 768px) {
  .product-card {
    display: flex;
    flex-wrap: wrap;

    &__header {
      display: flex;
      width: 100%;
    }

    &__title {
      margin-left: -3px;
      margin-top: 20px;
      margin-right: 145px;
    }

    &__mark {
      width: 70px;
      line-height: 17px;
      text-align: center;
      margin-top: 30px;
    }

    &__content {
      width: 50%;
      padding-top: 48px;
      padding-right: 40px;
      box-sizing: border-box;
    }

    &__description {
      font-size: 17px;
      line-height: 30px;
    }

    &__property {
      margin-top: 37px;
    }

    &__img {
      width: 50%;
      margin-top: 57px;

      &--mobile {
        display: none;
      }

      &--tablet {
        display: block;
      }
    }

    &__order {
      margin-top: -112px;
    }

    &__cost {
      margin-top: 0;
      font-size: 20px;
    }

    &__button {
      margin-top: 34px;
      margin-left: -2px;
      padding-left: 100px;
      padding-right: 100px;
    }
  }
}

@media (min-width: 1150px) {
  .product-card {
    &__header {
      margin-bottom: -74px;
      margin-top: 74px;
      margin-left: 47px;
    }
    &__title {
      order: 2;
      margin-left: 54px;
      z-index: 1;
    }

    &__mark {
      order: 1;
      padding-top: 2px;
    }

    &__content {
      margin-top: 76px;
      padding-left: 175px;
      padding-right: 50px;
    }

    &__property {
      margin-top: 49px;
    }

    &__img {
      position: relative;
      margin-top: -34px;
      z-index: 0;
    }

    &__order {
      padding-left: 175px;
    }
  }
}
