.reviews {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 51px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 6px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: contain;
  }
}

.reviews__title {
  margin-top: 56px;
}

.review-block__text {
  margin-top: 24px;

  line-height: 30px;
}

.review-block__name {
  display: block;
  margin-top: 26px;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $text-dark;
}

.review-block__nickname {
  display: block;
  margin-top: 3px;

  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: $black-soft-color;
}

.slider__nav {
  display: flex;
  justify-content: center;
  height: 50px;
  margin-top: 30px;

  border: 1px solid $border-grey;
}

.slider__arrow {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: $text-dark;

  width: 100%;

  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: $text-hover-color;
  }

  &:active {
    fill: $text-down-color;
  }
}

.slider__arrow--devider::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 1px;
  height: 50px;

  background-color: $border-grey;
}


.slider__arrow-img {
  width: 50px;
  height: 26px;
}

.review__button {
  display: block;
  margin-top: 38px;

  text-align: center;
}
