.site-contacts {
  display: flex;
  flex-direction: column;
  padding-bottom: 42px;
}

.site-contacts__title {
  margin-top: 35px;

  font-size: 18px;
}

.site-contacts__text {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 22px;

  &--padding-email {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

.site-contacts__text ul {
  display: flex;
}

.site-contacts__text-value {
  padding-left: 30px;
}

.site-contacts__text-field,
.site-contacts__text-value {
  line-height: 30px;
  vertical-align: top;
}

.site-contacts__map {
  width: 100%;
  height: 457px;
  margin: 0 auto;
  margin-top: 38px;

  background-color: #f3e8d6;
  background-image: url("../img/icon-map-pin.svg"), url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 53% 146px, center center;
  background-size: 67px 100px, cover;
}

.site-contacts__button {
  display: block;
  width: 256px;
  margin: 0 auto;
  margin-top: 37px;
  padding-top: 13px;
  padding-bottom: 15px;

  font-size: 18px;
  text-align: center;
}

.site-contacts__text--link {
  position: relative;

  color: $black-soft-color;

  &:hover,
  &:focus {
    color: $green-color;
  }

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;

    width: 98%;
    height: 1px;
    padding-left: 1%;

    background-color: $green-color;
  }
}

@media (min-resolution: 1.5dppx) {
  .site-contacts__map {
    background-image: url("../img/icon-map-pin.svg"), url("../img/map-mobile@2x.jpg");
  }
}

@media (min-width: 768px) {
  .site-contacts {
    padding-bottom: 39px;
  }

  .site-contacts__wrapper {
    width: 100%;
    margin: 0 auto;
  }

  .site-contacts__title {
    position: relative;

    margin-top: 62px;
    margin-left: -4px;

    font-size: 43px;

    &::after {
      content: "";
      position: absolute;
      right: 3px;
      bottom: -16px;

      width: 47px;
      height: 81px;

      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
    }
  }

  .site-contacts__text {
    flex-direction: row;
    margin-top: 48px;

    &--link::after {
      bottom: -4px;
    }
  }

  .site-contacts__text ul:first-child {
    padding-right: 50px;
  }

  .site-contacts__map {
    margin-top: 56px;

    background-image: url("../img/icon-map-pin.svg"), url("../img/map-tablet@1x.jpg");
    background-position: 363px 139px, center center;
  }

  .site-contacts__button {
    width: 226px;
    margin: 0 auto;
    margin-top: 55px;

    font-size: 17px;
  }

  .site-contacts__text-value {
    padding-left: 24px;
  }

  .site-contacts__text-field,
  .site-contacts__text-value {
    padding-top: 0;

    font-size: 17px;
  }

  @media (min-resolution: 1.5dppx) {
    .site-contacts__map {
      background-image: url("../img/icon-map-pin.svg"), url("../img/map-tablet@2x.jpg");
    }
  }
}

@media (min-width: 1150px) {
  .site-contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1150px;
    margin: 0 auto;
    padding-right: 50px;
    padding-bottom: 41px;
  }

  .site-contacts__wrapper {
    width: 50%;
    padding-right: 0;
    padding-left: 43px;
  }

  .site-contacts__title {
    margin-top: 148px;
    margin-left: 168px;

    font-size: 53px;

    &::after {
      bottom: -18px;
      left: -105px;
    }
  }

  .site-contacts__text {
    flex-direction: column;
    margin-top: 50px;
    padding-left: 175px;

    &--padding-address {
      padding-top: 26px;
    }
  }

  .site-contacts__text ul:first-child {
    padding-right: 0;
  }

  .site-contacts__map {
    box-sizing: border-box;
    width: 525px;
    margin-top: 75px;
    margin-left: 15px;

    background-image: url("../img/icon-map-pin.svg"), url("../img/map-desktop@1x.jpg");
    background-position: 237px 148px, center center;
    background-size: 67px 100px, 525px auto;
  }

  .site-contacts__button {
    margin: 0;
    margin-top: -50px;
    margin-left: 225px;
  }

  @media (min-resolution: 1.5dppx) {
    .site-contacts__map {
      background-image: url("../img/icon-map-pin.svg"), url("../img/map-desktop@2x.jpg");
    }
  }
}
