.slider {
  display: flex;
  flex-direction: column;
}

.slider-nav {
  display: flex;
  justify-content: center;
  height: 50px;
  margin-top: 30px;

  border: 1px solid $border-grey;
}

.slider-nav__arrow {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  background-color: transparent;
  border: none;
  cursor: pointer;

  fill: $text-dark;

  &:hover,
  &:focus {
    fill: $text-hover-color;
  }

  &:active {
    fill: $text-down-color;
  }
}

.slider-nav__arrow--devider::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 1px;
  height: 50px;

  background-color: $border-grey;
}


.slider-nav__arrow-img {
  width: 50px;
  height: 26px;
}

@media (min-width: 768px) {
  .slider-nav {
    width: 140px;
    margin-top: -52px;
    margin-left: 510px;

    border: none;
  }

  .slider-nav__arrow {
    width: auto;
    margin-right: 9px;
    margin-left: 9px;
    padding: 10px;
  }

  .slider-nav__arrow--devider::after {
    display: none;
  }
}

@media (min-width: 1150px) {
  .slider {
    &__nav {
      margin-left: 715px;
    }
  }
}
