//text colors
$text-dark: #000000;
$text-light: #ffffff;
$text-hover-color: rgba($text-dark, 0.6);
$text-down-color: rgba($text-dark, 0.3);

//icon colors
$icon-down-color: rgba(99, 209, 187, 0.3);

//backgrounds colors
$bg-white: #ffffff;

//border colors
$border-grey: #ececec;

//misc colors
$green-color: #63d1bb;
$black-soft-color: #444444;


//promo-video__play size
$play-width-mobile: 101px;
$play-height-mobile: 77px;
