//colors
$text-black: #010000;
$text-hover-color: rgba(0, 0, 0, 0.6);
$text-down-color: rgba(0, 0, 0, 0.3);
$icon-hover-color: #63d1bb;
$icon-down-color: rgba(99, 209, 187, 0.3);
$bg-white: #ffffff;
$border-grey: #ececec;
